h1 {
    color: red;
}

a { 
    text-decoration: none;
    color: red;
}

.center {
    text-align: center;
    color: black;
}
/* I need to center this */
.body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: black;
}

.menu-btn {
    background-color: #cc0000;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

.menu-btn:hover {
    background-color: #4244b3; 
}