/* index.html */

* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: "300";
    height: "200";
}

a {
    text-decoration: none;
    color: red;
}

.body {
    background-color: white;
    color: black;
    text-align: center;
}

.div {
    color: blue;
    text-align: center;
}

/* this makes blocks on every item from page

* {
    border: 2px solid red;
}
